{% extends "public/journal/base.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{asset('build/css/journal/index.css')}}">

{% endblock %}

{% block sectionTitle  %}
    Index
{% endblock %}

{% block body %}

<div class="row justify-content-center">
    {% include "public/journal/Tasks/dayTasksCard.html.twig" %}
    {% include "public/journal/Tasks/monthTasksCard.html.twig" %}
</div>
{% endblock %}

{% block javascripts %}
   <script>
       jQuery('#day_task_submit').click(function(){
           inputVal = jQuery('#day_task_description').val()

           jQuery.ajax({
               url:'/index',
               type:'post',
               data:{
                   inputVal
               },
               dataType: 'json',
               async: true,
               success: function(data, status){
                   jQuery('#daybox').html(data['html'])
               },
               error: function(xhr, textStatus, errorThrown){
                   console.error('Ajax request failed')
               }

           })

       })

   </script> 

{% endblock %}
