{% extends "public/journal/base.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{asset('build/css/journal/index.css')}}">

{% endblock %}
{% block body %}

<div class="row justify-content-center">
    {% include "public/journal/Tasks/dayTasksCard.html.twig" %}
    {% include "public/journal/Tasks/monthTasksCard.html.twig" %}
</div>
{% endblock %}