{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/journal/index.css')}}">

{% endblock %}
{% block body %}

<div class="row justify-content-center">
        <div  name = "box" class="col-12 col-lg-5 box">
                
        </div>

        <div name = "box" class="col-12 col-lg-5 box">
                
        </div>
</div>


{% endblock %}
