html,
body,
header,
#intro{
    height: 100%;
}

#intro{
background: url("https://images.pexels.com/photos/159621/open-book-library-education-read-159621.jpeg?auto=compress&")no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

.main-title{
    padding-top: 125px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.btn-default:hover{
    color: black;
    background-color: lightgray;
}
