{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/index.css')}}">

{% endblock %}
{% block body %}
<div id="intro" class="view hm-black-strong">

    <div class="full-bg-img main-title">
        <div class="container-fluid ">
            <div class="row">
                <div class="display-3 font-bold white-text mb-2 center"><b><i>Age quod ages</i></b></div>
            </div>
            <div class="row center mg-top-30">
                <button class="btn btn-default border-light-gray mg-right-30">Login</butto >
                <button class="btn btn-default border-light-gray ">Sign in</button>
            </div>
        </div>

    </div>
</div>


{% endblock %}