
.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.mg-top-30{
    margin-top: 30px
}
.mg-right-30{
    margin-right: 30px
}

.border-light-gray{
   border: 3px solid;
   border-color: lightgray;
   border-radius: 30px; 
}
